section {
    cursor: url('./assets/cursor3.png'), auto;
}

.Resumen {
    width: 100vw;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-top: 60px;
}

.Cap1 div,
.Cap2 div,
.Cap3 div,
.Cap4 div,
.Cap5 div,
.Cap6 div,
.Cap7 div {
    margin: 20px 0;
    max-width: 800px;
}

.Cap1,
.Cap2,
.Cap3,
.Cap4,
.Cap5,
.Cap6,
.Cap7 {
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    padding-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.Cap7 {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 60px;
}

.Cap3,
.Cap4,
.Cap6 {
    display: flex;
    flex-direction: column;
}

.edadmedia {
    max-width: 300px;
    height: auto;
    position: absolute;
    right: 880px;
    top: 40px;
}

.kapitalista {
    max-width: 260px;
    height: auto;
    position: absolute;
    left: 850px;
    top: 260px;
}

.carabelas {
    width: 300px;
    height: auto;
    position: absolute;
    right: 850px;
    bottom: 230px;
}

.colon {
    position: absolute;
    left: 850px;
    bottom: 60px;
}

.comercio {
    align-self: center;
    width: 750px;
    height: auto;
}

.mercader {
    position: absolute;
    right: 850px;
    top: 400px;
}

.soldado {
    position: absolute;
    left: 850px;
    top: 400px;
}

.moneda {
    position: absolute;
    left: 850px;
    top: 640px;
}

.tumba {
    width: 250px;
    height: auto;
    position: absolute;
    right: 880px;
    top: 200px;
}

.divtriangkap {
    width: 400px;
}

.triangkap {
    align-self: center;
    max-width: 500px;
    height: auto;
    position: absolute;
    left: 420px;
    top: 345px;
}

.aranas {
    margin-top: -20px;
    margin-bottom: 20px;
    align-self: center;
    max-width: 600px;
    height: auto;
}

.patriotismo {
    align-self: center;
    max-width: 550px;
    height: auto;
}

.sebusca {
    position: absolute;
    right: 930px;
    top: -100px;
}

.comunaparis {
    width: 300px;
    height: auto;
    position: absolute;
    left: 830px;
    top: 100px;
}

.africaL {
    width: 300px;
    height: auto;
    position: absolute;
    right: 850px;
    top: 700px;
}

.africaR {
    width: 290px;
    height: auto;
    position: absolute;
    left: 850px;
    top: 715px;
}

.expansioncom {
    width: 380px;
    height: auto;
    position: absolute;
    right: 840px;
    top: 250px;
}

.zombie {
    width: 300px;
    height: auto;
    position: absolute;
    left: 850px;
    top: 460px;
}

@media only screen and (max-width: 1600px) {

    .edadmedia {
        position: relative;
        top: -10px;
        left: 50px;
        align-self: center;
    }

    .kapitalista {
        position: relative;
        top: 0;
        left: 200px;
    }

    .carabelas {
        position: relative;
        top: 0px;
        left: 100px;
    }

    .colon {
        position: relative;
        top: -10px;
        left: 250px;
    }

    .tumba {
        width: 250px;
        position: relative;
        top: -10px;
        left: 250px;
    }

    .triangkap {
        width: 400px;
        top: 590px;
    }

    .sebusca {
        display: none;
    }

    .comunaparis {
        position: relative;
        top: 0px;
        left: 250px;
    }

    .africaL {
        position: relative;
        top: 0px;
        left: 50px;
    }

    .africaR {
        position: relative;
        top: 0px;
        left: 160px;
    }

    .expansioncom {
        position: relative;
        top: 0px;
        left: 25%;
    }

    .zombie {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .mercader {
        display: none;
    }

    .soldado {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .Resumen {
        font-size: 1rem;
    }

    .Cap1 div,
    .Cap2 div,
    .Cap3 div,
    .Cap4 div,
    .Cap5 div,
    .Cap6 div,
    .Cap7 div {
        margin: 15px 0;
        max-width: 700px;
    }

    .edadmedia {
        width: 220px;
        top: -10px;
        left: 70px;
        align-self: center;
    }

    .kapitalista {
        width: 155px;
        position: relative;
        top: 0;
        left: 200px;
    }

    .carabelas {
        width: 250px;
        top: 0px;
        left: 60px;
    }

    .colon {
        width: 130px;
        top: 0;
        left: 240px;
    }

    .comercio {
        max-width: 650px;
    }

    .tumba {
        width: 200px;
        top: -10px;
        left: 250px;
    }

    .divtriangkap {
        display: block;
        width: auto;
    }

    .triangkap {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .comunaparis {
        width: 260px;
        top: 0px;
        left: 250px;
    }

    .africaL {
        width: 200px;
        top: 0px;
        left: 80px;
    }

    .africaR {
        width: 200px;
        top: 0px;
        left: 220px;
    }

    .aranas {
        position: relative;
        top: 13px;
        width: 500px;
    }

    .patriotismo {
        width: 550px;
    }

    .expansioncom {
        width: 350px;
        top: 0px;
        left: 25%;
    }
}

@media only screen and (max-width: 630px) {
    .Resumen {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .Cap1 div,
    .Cap2 div,
    .Cap3 div,
    .Cap4 div,
    .Cap5 div,
    .Cap6 div,
    .Cap7 div {
        margin: 15px 0;
        max-width: 700px;
    }

    .edadmedia {
        top: 0px;
        left: 80px;
        max-width: 270px;
    }

    .kapitalista {
        display: none;
    }

    .carabelas {
        width: 260px;
        top: 0px;
        left: 50px;
    }

    .colon {
        display: none;
    }

    .comercio {
        max-width: 370px;
    }

    .tumba {
        width: 200px;
        top: -10px;
        left: 100px;
    }

    .divtriangkap {
        display: block;
        width: auto;
    }

    .triangkap {
        width: 380px;
        top: 0px;
        left: 0px;
    }

    .comunaparis {
        width: 220px;
        top: 0px;
        left: 85px;
    }

    .africaL {
        width: 170px;
        top: 0px;
        left: 5px;
    }

    .africaR {
        width: 170px;
        top: 0px;
        left: 30px;
    }

    .aranas {
        top: 13px;
        width: 360px;
    }

    .patriotismo {
        width: 360px;
    }

    .expansioncom {
        width: 280px;
        top: 0px;
        left: 50px;
    }
}

@media only screen and (max-width: 377px) {
    .Resumen {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .Cap1 div,
    .Cap2 div,
    .Cap3 div,
    .Cap4 div,
    .Cap5 div,
    .Cap6 div,
    .Cap7 div {
        margin: 15px 0;
        max-width: 700px;
    }

    .edadmedia {
        width: 180px;
        top: 0px;
        left: 70px;
        align-self: center;
    }

    .carabelas {
        width: 200px;
        top: 0px;
        left: 60px;
    }

    .colon {
        display: none;
    }

    .comercio {
        max-width: 300px;
    }

    .tumba {
        width: 150px;
        top: -8px;
        left: 85px;
    }

    .divtriangkap {
        display: block;
        width: auto;
    }

    .triangkap {
        width: 310px;
        top: 0px;
        left: 0px;
    }

    .comunaparis {
        width: 220px;
        top: 0px;
        left: 55px;
    }

    .africaL {
        width: 190px;
        top: 0px;
        left: 66px;
    }

    .africaR {
        width: 190px;
        top: 0px;
        left: 66px;
    }

    .aranas {
        top: 13px;
        width: 310px;
    }

    .patriotismo {
        width: 310px;
    }

    .expansioncom {
        width: 250px;
        top: 0px;
        left: 40px;
    }
}