footer {
    height: auto;
    background-color: #333;
    color: #fff;
    padding: 40px;
    cursor: url('./assets/cursor3W.png'), auto;
    display: flex;
    justify-content: center;
}

.opinion,
.referencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.opinion h2,
.referencias h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.referencias div {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px
}

.referencias a {
    color: palevioletred;
}

.opinion {
    max-width: 950px;
    margin-top: 10px;
}

.opinion div {
    font-size: 1.12rem;
    text-align: justify;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1053px) {
    .opinion h2 {
        font-size: 2rem;
    }

    .opinion div {
        font-size: 1rem;
    }

    .referencias h2 {
        font-size: 2rem;
    }

    .referencias div {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {

    .opinion h2 {
        font-size: 1.9rem;
    }

    .opinion div {
        font-size: 0.9rem;
    }

    .referencias h2 {
        font-size: 1.9rem;
    }

    .referencias div {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 665px) {
    .opinion h2 {
        font-size: 1.7rem;
    }

    .opinion div {
        font-size: 0.8rem;
    }

    .referencias h2 {
        font-size: 1.7rem;
    }

    .referencias div {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 555px) {
    .referencias {
        margin-bottom: 0;
    }
}