header {
    cursor: url('./assets/cursor3W.png'), auto;
    background-color: #333;
    color: #fff;
    width: 100vw;
}

.left-options a:hover {
    cursor: url('./assets/cursorHand.png'), auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    /* Adjust padding as needed */
}

/* Style for the left options */
.left-options ul {
    list-style: none;
}

.left-options li {
    display: inline-block;
    margin-right: 20px;
}

.left-options a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

/* Style for the logo */
.logo img {
    max-width: 10%;
    height: auto;
    /* Maintain the aspect ratio of the logo */
}

.nombre {
    border-left: 1px solid palevioletred;
    padding-left: 25px;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

.hero {
    height: 100vh;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1,
h2 {
    font-family: 'Arvo', serif;
}

@media only screen and (max-width: 1053px) {
    .hero h1 {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .hero h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .nombre {
        font-size: 1.3rem;
    }

    .left-options a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 665px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .nombre {
        font-size: 1rem;
    }

    .left-options a {
        font-size: 0.8rem;
    }

    .left-options li {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 555px) {
    .left-options a {
        font-size: 0.8rem;
    }

    .nombre {
        font-size: 0.9rem;
        margin-left: 30px;
    }

    .hero h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .left-options li {
        display: block;
    }
}